<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
<ul class="menu">
<li class="menu__entry"><a href="{{ '/resume' | prepend: site.baseurl }}">Resume</a></li>
<li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
</ul>
</div>
<ul class="social-links">
{% if site.author.email %}
<a href="https://yabdelhady905@gmail.com" class="social-links__entry" target="_blank">
<i class="fa fa-envelope-square"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/youssefa123/" class="social-links__entry" target="_blank">
<i class="fa fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://www.linkedin.com/in/youssef-a-8044aa23b/" class="social-links__entry" target="_blank">
<i class="fa fa-linkedin"></i>
</a>
{% endif %}
</ul>
</header>